<h1> Edit <%= @bar.name %></h1>

<form action="/bars/<%=@bar.id%>" method="POST">
	<input id="hidden" type="hidden" name="_method" value="PATCH">

	<label name="bar_name">Bar Name</label>
	<input type="text" name="name" value="<%= @bar.name %>">

	<label name="bar_name">Bar Address</label>
	<input type="text" name="address" value="<%= @bar.address %>">

	<label name="bar_name">Bartender Name</label>
	<input type="text" name="bartender_name" value="<%= @bar.bartender_name %>">

	<input type="submit" value="Submit">
</form>