<h1> Edit <%= @bar.name %></h1>

<form action="/bars/<%=@bars.id%>" method="POST">
	<label name="bar_name">Bar Name</label>
	<input type="text" name="bar[name]" value="<%= @bar.name %>">

	<label name="bar_name">Bar Address</label>
	<input type="text" name="bar[address]" value="<%= @bar.address %>">

	<label name="bar_name">Bartender Name</label>
	<input type="text" name="bar[bartender_name]" value="<%= @bar.bartender_name %>">

	<input type="submit" value="submit">
</form>