<h1><%= @bar.name %></h1>

<h2>Drinks</h2>
<% @bar.drinks.each do |drink| %>
	<ul>
		<li>
			<a href="/drinks/<%=drink.id%>"><%= drink.name %></a>
		</li>
	</ul>
<% end %>

<h3>Bartender Name: <%= @bar.bartender_name %> </h3>

<h4>Address: <%= @bar.address %> </h4>
<h4>Website: <%= @bar.website %> </h4>
<h4>Last Time Visited: <%= @bar.last_time_visited %> </h4>


<a href="/bars/<%=@bar.id%>/edit">Edit Bar</a><br>
<a href="/bars">Go To All Bars</a><br><br>

<form action="/bars/<%=@bar.id%>/delete" method="POST">
	<input id="hidden" type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete Bar">
</form>